body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: url('bg.jpg') no-repeat center center/cover;
    text-align: center;
    }
.calculator{
    align-items: center;
    display: inline-block;
    border: 4px solid black;
    border-radius: 8px;
    height: 606px;
    margin-bottom: 30px;
    width: 588px;
    background-color:rgb(4, 115, 143);
    border-radius: 20px;
}
button{
    font-weight: bold;
    color: black;
    border-radius: 97px;
    height: 79px;
    font-size: 40px;
    margin: 2px;
    width: 109px;
    background-color: lightseagreen;
}
button:hover{
    background-color: rgb(70, 124, 121);
}
input{
    height: 54px;
    width: 565px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 40px;
    border: 2px solid black;
}
h1{
    font-size: 50px;
}