body{
    background-color: black;
}
.container{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('bg.jpg');
    text-align: center;
    /* border: 2px solid red;
    display: inline-block;
    align-items: center; */
}
.calculator{
    align-items: center;
    display: inline-block;
    border: 4px solid black;
    border-radius: 8px;
    height: 523px;
    margin-bottom: 30px;
    width: 467px;
    background-color:wheat;
    border-radius: 20px;
}
button{
    font-weight: bold;
    color: black;
    border-radius: 97px;
    height: 82px;
    font-size: 40px;
    width: 111px;
    background-color: lightseagreen;
}
input{
    height: 54px;
    width: 440px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 40px;
    border: 2px solid black;
}
h1{
    font-size: 50px;
}